openapi: "3.0.0"

info:
  description: "配置服务API"
  version: 1.0.0
  title: 配置服务API
  license:
    name: Apache-2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://api.lucfish.com/configuration/v1"

paths:
  /config:
    post:
      tags:
        - "Config"
      operationId: "createConfig"
      summary: "创建配置"
      description: "创建配置"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConfigReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateConfigResponse"
        "405":
          description: "Invalid input"
    put:
      tags:
        - "Config"
      operationId: "updateConfig"
      summary: "更新配置"
      description: "更新配置，需要全部的配置信息"
      requestBody:
        content:
          application/json:
            schema: 
              $ref: "#/components/schemas/UpdateConfigReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateConfigResponse"
        "405":
          description: "Invalid input"

  /config/{id}:
    get:
      tags:
        - "Config"
      operationId: "getConfig"
      summary: "查询配置"
      description: "查询配置通过配置ID"
      parameters:
        - name: "id"
          in: "path"
          description: "查询配置通过配置ID"
          required: true
          schema:
            type: string
            format: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetConfigResponse"
        "405":
          description: "Invalid input"

    delete:
      tags:
        - "Config"
      operationId: "deleteConfig"
      summary: "删除配置"
      description: "删除配置"
      parameters:
      - name: "id"
        in: "path"
        description: "删除配置"
        required: true
        schema:
          type: string
          format: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "405":
          description: "Invalid input"

  /config/batchRetrieve:
    post:
      tags:
        - "Config"
      operationId: "batchRetrieveConfigs"
      summary: "批量查询配置"
      description: "批量查询配置通过配置Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdsReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRetrieveConfigsResponse"
        "405":
          description: "Invalid input"
    
  /config/batchDelete:
    post:
      tags:
        - "Config"
      operationId: "batchDeleteConfigs"
      summary: "批量删除配置"
      description: "批量删除配置通过配置Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdsReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "405":
          description: "Invalid input"

  /config/page:
    post:
      tags:
        - "Config"
      operationId: "pageConfigs"
      summary: "Page查询配置"
      description: "Page查询配置"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageQuery"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageConfigsResponse"
        "405":
          description: "Invalid input"
  /config/cursor:
    post:
      tags:
        - "Config"
      operationId: "cursorConfigs"
      summary: "Cursor查询配置"
      description: "Cursor查询配置"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CursorQuery"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorConfigsResponse"
        "405":
          description: "Invalid input"


  /config/retrieveByKey:
    post:
      tags:
        - "Config"
      operationId: "retrieveByKeyConfig"
      summary: "查询配置"
      description: "查询配置通过配置Key和资源ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetrieveConfigByKeyReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveConfigByKeyResponse"
        "405":
          description: "Invalid input"

  /config/batchRetrieveByKeys:
    post:
      tags:
        - "Config"
      operationId: "batchRetrieveByKeysConfigs"
      summary: "查询配置"
      description: "查询配置通过配置Keys和资源ID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRetrieveByKeysReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRetrieveConfigsByKeysResponse"
        "405":
          description: "Invalid input"

  /config/batchRetrieveByResources:
    post:
      tags:
        - "Config"
      operationId: "batchRetrieveByResourcesConfigs"
      summary: "查询配置"
      description: "查询配置通过配置GroupID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRetrieveByResourcesReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRetrieveConfigsByResourcesResponse"
        "405":
          description: "Invalid input"
  
  /configTemplate:
    post:
      tags:
        - "ConfigTemplate"
      operationId: "createConfigTemplate"
      summary: "创建配置模版"
      description: "创建配置模版"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConfigTemplateReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateConfigTemplateResponse"
        "405":
          description: "Invalid input"
    put:
      tags:
        - "Config"
      operationId: "updateConfigTemplate"
      summary: "更新配置模版"
      description: "更新配置模版，需要全部的配置模版信息"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConfigTemplateReq"

      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateConfigTemplateResponse"
        "405":
          description: "Invalid input"

  /configTemplate/{id}:
    get:
      tags:
        - "ConfigTemplate"
      operationId: "getConfigTemplate"
      summary: "查询配置模版"
      description: "查询配置通过配置模版ID"
      parameters:
      - name: "id"
        in: "path"
        description: "查询配置通过配置ID"
        required: true
        schema:
          type: string
          format: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetConfigTemplateResponse"
        "405":
          description: "Invalid input"

    delete:
      tags:
        - "ConfigTemplate"
      operationId: "deleteConfigTemplate"
      summary: "删除配置模版"
      description: "删除配置模版"
      parameters:
      - name: "id"
        in: "path"
        description: "删除配置模版"
        required: true
        schema:
          type: string
          format: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "405":
          description: "Invalid input"

  /configTemplate/batchRetrieve:
    post:
      tags:
        - "ConfigTemplate"
      operationId: "batchRetrieveConfigTemplates"
      summary: "批量查询配置模版"
      description: "批量查询配置模版通过配置Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdsReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRetrieveConfigTemplatesResponse"
        "405":
          description: "Invalid input"
    
  /configTemplate/batchDelete:
    post:
      tags:
        - "ConfigTemplate"
      operationId: "batchDeleteConfigTemplates"
      summary: "批量删除配置模版"
      description: "批量删除配置模版通过配置Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdsReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "405":
          description: "Invalid input"
  /configTemplate/page:
    post:
      tags:
        - "ConfigTemplate"
      operationId: "pageConfigTemplate"
      summary: "Page查询配置模版"
      description: "Page查询配置模版"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageQuery"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageConfigTemplatesResponse"
        "405":
          description: "Invalid input"

  /configTemplate/cursor:
    post:
      tags:
        - "ConfigTemplate"
      operationId: "cursorConfigTemplates"
      summary: "Cursor查询配置模版"
      description: "Cursor查询配置模版"
      requestBody:
        content:
          application/json:
            schema:
             $ref: "#/components/schemas/CursorQuery"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorConfigTemplatesResponse"
        "405":
          description: "Invalid input"

  /configTemplate/retrieveByKey:
    post:
      tags:
        - "ConfigTemplate"
      operationId: "retrieveByKeyConfigTemplate"
      summary: "查询配置模版"
      description: "查询配置模版通过配置Key"
      parameters:
        - name: "key"
          in: "query"
          schema:
            type: "string"
            format: "string"
          required: true
          description: "主键Key"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveConfigTemplateByKeyResponse"
        "405":
          description: "Invalid input"

  /configTemplate/batchRetrieveByKeys:
    post:
      tags:
        - "ConfigTemplate"
      operationId: "batchRetrieveByKeysConfigTemplates"
      summary: "查询配置模版"
      description: "查询配置通过配置Keys"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRetrieveConfigTemplateByKeysReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRetrieveConfigTemplatesByKeysResponse"
        "405":
          description: "Invalid input"

  /configTemplate/batchRetrieveByGroup:
    post:
      tags:
        - "ConfigTemplate"
      operationId: "batchRetrieveByGroupConfigTemplates"
      summary: "查询配置模版"
      description: "查询配置模版通过配置模版GroupID"
      parameters:
        - name: "groupName"
          in: "query"
          schema:
            type: "string"
            format: "string"
          required: true
          description: "分组标签名"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRetrieveConfigTemplatesByGroupResponse"
        "405":
          description: "Invalid input"

  /configGroup:
    post:
      tags:
        - "ConfigGroup"
      operationId: "createGroup"
      summary: "创建组"
      description: "创建组"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConfigGroupReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateConfigGroupResponse"
        "405":
          description: "Invalid input"

    put:
      tags:
        - "ConfigGroup"
      operationId: "updateGroup"
      summary: "更新组"
      description: "更新组，需要全部的组信息"
      requestBody:
        content:
          application/json:
            schema:
              $ref:  "#/components/schemas/UpdateConfigGroupReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateConfigGroupResponse"
        "405":
          description: "Invalid input"

  /configGroup/{id}:
    get:
      tags:
        - "ConfigGroup"
      operationId: "getGroup"
      summary: "查询组"
      description: "查询组通过组ID"
      parameters:
      - name: "id"
        in: "path"
        description: "查询组通过组ID"
        required: true
        schema:
          type: string
          format: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetConfigGroupResponse"
        "405":
          description: "Invalid input"

    delete:
      tags:
        - "ConfigGroup"
      operationId: "deleteGroup"
      summary: "删除组"
      description: "删除组"
      parameters:
      - name: "id"
        in: "path"
        description: "删除组"
        required: true
        schema:
          type: string
          format: string
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "405":
          description: "Invalid input"

  /configGroup/batchRetrieve:
    post:
      tags:
        - "ConfigGroup"
      operationId: "batchRetrieveGroups"
      summary: "批量查询组"
      description: "批量查询组通过组Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdsReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchRetrieveConfigGroupsResponse"
        "405":
          description: "Invalid input"
    
  /configGroup/batchDelete:
    post:
      tags:
        - "ConfigGroup"
      operationId: "batchDeleteGroups"
      summary: "批量删除组"
      description: "批量删除组通过组Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdsReq"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "405":
          description: "Invalid input"

  /configGroup/page:
    post:
      tags:
        - "ConfigGroup"
      operationId: "pageGroups"
      summary: "Page查询组"
      description: "Page查询组"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageQuery"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageConfigGroupsResponse"
        "405":
          description: "Invalid input"

  /configGroup/cursor:
    post:
      tags:
        - "ConfigGroup"
      operationId: "cursorGroups"
      summary: "Cursor查询组"
      description: "Cursor查询组"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CursorQuery"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorConfigGroupsResponse"
        "405":
          description: "Invalid input"

  /configGroup/retrieveByName:
    post:
      tags:
        - "ConfigGroup"
      operationId: "retrieveByNameGroup" 
      summary: "查询组"
      description: "查询组通过Name"
      parameters:
        - name: "name"
          in: "query"
          schema:
            type: "string"
            format: "string"
          required: true
          description: "查询组通过Name"
      responses:
        "200":
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveConfigGroupByNameResponse"
        "405":
          description: "Invalid input"

security:
  - ApiKey: []

components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      
  schemas:
    IdsReq:
      type: object
      properties: 
        ids:
          description: 配置ID列表
          type: array
          items: 
            type: string
            format: string

    BatchRetrieveConfigsResponse:
      type: object
      properties: 
        ids:
          description: 配置ID列表
          type: array
          items: 
            type: string
            format: string

    RetrieveConfigByKeyReq:
      type: object
      properties:
        resourceId:
          type: string
          format: string
        key:
          type: string
          format: string
        
    
    RetrieveConfigByKeyResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/Config"
        
    BatchRetrieveByKeysReq:
      type: object
      properties: 
        keys:
          description: keys
          type: array
          items: 
            type: string   
        resourceId:
          type: string
          format: string
          description: 资源ID
    
    BatchRetrieveConfigsByKeysResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: array
          items: 
            $ref: "#/components/schemas/Config"

    BatchRetrieveByResourcesReq:
      type: object
      properties: 
        key:
          description: key
          type: string
          format: string
        resourceIds:
          type: array
          items: 
            type: string
          description: 资源ID组
    
    BatchRetrieveConfigsByResourcesResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: array
          items: 
            $ref: "#/components/schemas/Config"
    
    BatchRetrieveConfigTemplateByKeysReq:
      type: object
      properties: 
        keys:
          type: array
          items: 
            type: string 
    
    BatchRetrieveConfigTemplateByKeysResponse:
      type: object
      properties: 
        keys:
          type: array
          items: 
            type: string 
            
    CursorQuery:
      type: object
      properties: 
        filters:
          description: 查询条件，传键值对
          type: object
        cursor:
          description: 游标值
          type: string
          format: string
        cursorSort:
          description: 排序
            $ref:"#/components/schemas/SortSpec"
        size:
          description: 大小
          type: integer
          format: int64
        direction:
          description: 查询方向，0表示游标前，1表示游标后
          type: integer
          format: byte 

    CursorExtra:
      type: object
      properties: 
        size:
          description: 大小
          type: integer
          format: int64
        direction:
          description: 查询方向，0表示游标前，1表示游标后
          type: integer
          format: byte
        resourceId:
          type: string
          format: string
          description: 资源ID
          
    CreateConfigReq: 
      type: object
      properties: 
        resourceId:
          type: string
          format: string
          description: 资源ID
        groupId:
          type: string
          format: string
          description: 组ID
        templateId:
          type: string
          format: string
          description: 模版ID
        key:
          type: string
          format: string
          description: 对应的字段名
        value:
          type: object
          description: json格式的键值对数据
    
    CreateConfigResponse: 
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/Config"

    UpdateConfigReq:
      type: object
      properties: 
        id:
          type: string
          format: string
          description: 配置ID
        value:
          type: object
          description: json格式的键值对数据

    UpdateConfigResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/Config"
    
    GetConfigResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/Config"
    
    PageConfigsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: object
          properties:
            pageNo:
              type: integer
              format: "int32"
              description: 页码
            pageSize:
              type: integer
              format: "int32"
              description: 翻页大小
            pageCount:
              type: integer
              format: "int32"
              description: 页数
            total:
              type: integer
              format: "int32"
              description: 总数量
            content:
              type: array
              items:
                $ref: "#/components/schemas/Config"
    
    CursorConfigsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: object
          properties:
            extra:
              type: object
              $ref: "#/components/schemas/CursorExtra"
            items:
              type: array
              items:
                $ref: "#/components/schemas/Config"

    Config:
      type: object
      properties: 
        id:
          type: string
          format: string
          description: 配置ID
        resourceId:
          type: string
          format: string
          description: 资源ID
        groupId:
          type: string
          format: string
          description: 组ID
        templateId:
          type: string
          format: string
          description: 模版ID
        key:
          type: string
          format: string
          description: 对应的字段名
        value:
          type: object
          description: json格式的键值对数据
        ctime:
          type: integer
          format: int64
          description: 创建时间，返回时间戳
        mtime:
          type: integer
          format: int64
          description: 更新时间，返回时间戳

    CreateConfigGroupReq:
      type: object
      properties: 
        name:
          type: string 
          format: string
          description: 名称

    CreateConfigGroupResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/ConfigGroup"
    
    UpdateConfigGroupReq:
      type: object
      properties: 
        id:
          type: string
          format: string
          description: 配置ID
        name:
          type: string 
          description: 名称

    UpdateConfigGroupResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/ConfigGroup"

    GetConfigGroupResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/ConfigGroup"

    BatchRetrieveConfigGroupsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/ConfigGroup"

    PageConfigGroupsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: object
          properties:
            pageNo:
              type: integer
              format: "int32"
              description: 页码
            pageSize:
              type: integer
              format: "int32"
              description: 翻页大小
            pageCount:
              type: integer
              format: "int32"
              description: 页数
            total:
              type: integer
              format: "int32"
              description: 总数量
            content:
              type: array
              items:
                $ref: "#/components/schemas/ConfigGroup"

    CursorConfigGroupsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: object
          properties:
            extra:
              type: object
              $ref: "#/components/schemas/CursorExtra"
            items:
              type: array
              items:
                $ref: "#/components/schemas/ConfigGroup"

    RetrieveConfigGroupByNameResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/ConfigGroup"

    ConfigGroup:
      type: object
      properties: 
        id:
          type: string
          format: string
          description: 配置ID
        name:
          type: string 
          format: string
          description: 名称
        ctime:
          type: integer
          format: int64
          description: 创建时间，返回时间戳
        mtime:
          type: integer
          format: int64
          description: 更新时间，返回时间戳

    CreateConfigTemplateReq:
      type: object
      properties: 
        groupId:
          type: string
          format: string
          description: 组ID
        templateId:
          type: string
          format: string
          description: 模版ID
        key:
          type: string
          format: string
          description: 对应的字段名
        value:
          type: object
          description: json格式的键值对数据

    CreateConfigTemplateResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/ConfigTemplate"
        
    UpdateConfigTemplateReq:
      type: object
      properties: 
        id:
          type: string
          format: string
          description: 配置ID
        value:
          type: object
          description: json格式的键值对数据
    
    UpdateConfigTemplateResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/ConfigTemplate"
    
    GetConfigTemplateResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/ConfigTemplate"

    BatchRetrieveConfigTemplatesResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/ConfigTemplate"
    
    PageConfigTemplatesResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: object
          properties:
            pageNo:
              type: integer
              format: "int32"
              description: 页码
            pageSize:
              type: integer
              format: "int32"
              description: 翻页大小
            pageCount:
              type: integer
              format: "int32"
              description: 页数
            total:
              type: integer
              format: "int32"
              description: 总数量
            content:
              type: array
              items:
                $ref: "#/components/schemas/ConfigTemplate"

    CursorConfigTemplatesResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: object
          properties:
            extra:
              type: object
              $ref: "#/components/schemas/CursorExtra"
            items:
              type: array
              items:
                $ref: "#/components/schemas/ConfigTemplate"
    
    RetrieveConfigTemplateByKeyResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          $ref: "#/components/schemas/ConfigTemplate"
    
    BatchRetrieveConfigTemplatesByKeysResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: array
          items: 
            $ref: "#/components/schemas/ConfigTemplate"

    BatchRetrieveConfigTemplatesByGroupResponse:
      type: object
      properties: 
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          type: array
          items: 
            $ref: "#/components/schemas/ConfigTemplate"

    ConfigTemplate:
      type: object
      properties: 
        id:
          type: string
          format: string
          description: 配置ID
        groupId:
          type: string
          format: string
          description: 组ID
        templateId:
          type: string
          format: string
          description: 模版ID
        key:
          type: string
          format: string
          description: 对应的字段名
        value:
          type: object
          description: json格式的键值对数据
        ctime:
          type: integer
          format: int64
          description: 创建时间，返回时间戳
        mtime:
          type: integer
          format: int64
          description: 更新时间，返回时间戳
      
    PageQuery:
      type: object
      properties: 
        filters: 
          type: object
          description: 查询条件，传键值对
        pageNo: 
          type: integer
          format: int32
          description: 页码
        pageSize:
          type: integer
          format: int32
          description: 每页数据量
        sort:
          type: array
          items: 
            $ref: "#/components/schemas/SortSpec"
          description: 排序

    SortSpec:
      type: object
      properties: 
        property:
          type: string
          format: string
          description: 排序字段
        type:
          type: string
          format: string
          description: 排序类型，0默认，1升序，2降序
        ignoreCase:
          type: string
          format: string 
          description: 是否忽略大小写

    DeleteResponse:
      type: object
      properties:
        code:
          type: integer
          format: int64
        msg:
          type: string
          format: string
        data:
          description: "暂时未返回数据"           

